.tabledetail {
    display: flex;
    flex-direction: column;
    color: #000;
    width: 269px;
    background: rgba(116, 116, 117, 0.2);
    border-radius: 20px;
}

.tabledetail div {
    display: flex;
    justify-content: space-between;
    padding: 10px 5px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.tabledetail div span {
    color: rgb(161, 107, 46);
}