.tabledetail {
    display: flex;
    flex-direction: column;
    color: #fff;
    width: 269px;
    border-radius: 20px;
    background: rgba(160, 160, 160, 0.2);
}

.tabledetail div {
    display: flex;
    justify-content: space-between;
    padding: 10px 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.tabledetail div span {
    color: #000;
}

.open,
.high,
.low,
.close,
.volume,
.avg10day {
    color: #000;
}