.predict {
    margin-left: 64px;
    display: flex;
    flex-direction: row;
    gap: 25px;
}
.predict .title span{
    font-size: 30px;

}

.predict .contentpredict {
    color: #000;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;

}

.updatecontent {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: flex-end;
    position: relative;
    float: bottom;
    height: fit-content;
}
.content{
    width: 80%;
    min-height: 250px;
    margin-top: 30px;
    border: 1px solid #0000000e;
    border-radius: 5px;
}

.contentpredict .contentbox {
    margin-top: 30px;
    white-space: normal;
    width: 700px;
    height: auto;
    color: #000;
    min-height: 250px;
    font-size: 16px;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
        'Liberation Sans', sans-serif;
    border: 1px solid #0000000e;

}
.chartpredict{
    display: flex;
    flex-direction: column;
    color: #000;
    gap:20px
}
.chartpredict ul li {
list-style: none;
}
.updatecontent span{
    color: rgb(16, 96, 161);
}
.updatecontent :hover{
    cursor: pointer;
}
.update,.delete{
    background-color: rgb(201, 234, 240);
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
}
.updatecontent{
    margin-right: 200px;
}
