.root {
  position: absolute;
  left: 0;
  right: 95.7717%;
  top: 0;
  bottom: 97.3333%;
  align-items: flex-start;
  border-radius: 421.0526px;
  background-color: #fff, #e9baff;
  overflow: hidden;
}
.yourImage {
  position: absolute;
  left: 0;
  right: 0%;
  top: 0;
  bottom: 0%;
}
.icon {
  width: 100%;
  height: 100%;
}
