.icon {
    width: 100%;
    height: 100%;
}

.icon2 {
    width: 100%;
    height: 100%;
}

.icon3 {
    width: 100%;
    height: 100%;
}

.root {
    width: 100%;
    min-height: 900vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 10px
}

.icon4 {
    width: 100%;
    height: 100%;
}

.companyinfo {
    color: #000;
    font-size: 20px;
    font-weight: bold;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
    margin: 10px 100px;
    margin-top: 20px;
}

.symbol {
    color: #000;
    font-size: 16px;
    font-weight: bold;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
    left: 50px;
    top: 129px;
    width: min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    padding: 0px;
    height: fit-content;
}

.discussGroup {
    display: block;
    position: relative;
}

.detail {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 64px;
    margin-top: 40px auto;
    padding: 10px 10px;
}

.tabledetail {
    padding-left: 5px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    border-left: 1px solid #70a5cec4;
}

.image13 {
    padding: 30px;
    width: 100%;
    height: auto;
}

.predictcontent {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.labelpredict,
.text {
    border-left: 4px solid #3677a8;
    padding-left: 20px;
    font-size: 48px;
    color: #3677a8;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
}

.discusscomment {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.discusscomment .wiritecomment,
.discusscomment .discussGroup {
    margin-left: 64px;
}

.discusscomment .text {
    margin-bottom: 20px;
    font-size: 48px;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
}

.wiritecomment {
    background-color: rgb(201, 234, 240);
    padding: 20px;
    width: fit-content;
    border-radius: 10px;
}

.wiritecomment {
    display: block;
}

.commentbox>div {
    display: block;
}

._writecomment_rctcg_19 {
    display: block;
}

@media screen and (max-width: 1200px) {
    .companyinfo {
        font-size: 18px;
        margin: 10px 80px;
    }
    .detail {
        flex-direction: column;
        width: 100%;
    }
    .tabledetail {
        border-left: unset;
        flex-direction: row;
    }
    .image13 {
        padding: 20px;
    }
    .labelpredict {
        font-size: 40px;
    }
    .container {
        margin: 0px 0px;
    }
    .discusscomment .wiritecomment,
    .discusscomment .discussGroup {
        margin-left: 52px;
    }
}

@media screen and (max-width: 992px) {
    .companyinfo {
        font-size: 16px;
        margin: 10px 60px;
    }
    .image13 {
        padding: 12px;
    }
    .labelpredict {
        font-size: 32px;
    }
    .discusscomment .wiritecomment,
    .discusscomment .discussGroup {
        margin-left: 40px;
    }
}

@media screen and (max-width: 768px) {
    .companyinfo {
        font-size: 14px;
        white-space: nowrap;
        margin: 10px 40px;
    }
    .image13 {
        padding: 9px;
    }
    .labelpredict {
        font-size: 32px;
    }
    .discusscomment .wiritecomment,
    .discusscomment .discussGroup {
        margin-left: 28px;
    }
}

@media screen and (max-width: 576px) {
    .companyinfo {
        font-size: 12px;
        margin: 10px 20px;
    }
    .image13 {
        padding: 6px;
    }
    .labelpredict {
        font-size: 24px;
    }
    .tabledetail {
        flex-direction: column;
    }
    .discusscomment .wiritecomment,
    .discusscomment .discussGroup {
        margin-left: 16px;
    }
}