.chartbox {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.chart {
    display: flex;
    flex-direction: column;
    width: 800px;
    background-color: white;
    gap: 10px;
}

@media screen and (max-width: 1200px) {
    .chart {
        width: 800px;
    }
}

@media screen and (max-width: 992px) {
    .chart {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .chart {
        width: 100%;
    }
}

@media screen and (max-width: 576px) {
    .chart {
        width: 100%;
    }
}