.companyinfo {
    display: flex;
    flex-direction: column;
    color: #000;
    margin-bottom: 10px;
}

.symbol {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.follow {
    color: yellow;
}

.unfollow {
    color: #bebebe;
}